@media screen and (max-width: 1100px){
    body{
        word-break: break-all;
    }
    .topo{
        width: 100%;
        text-align: center;
    }
    .user-empty{
        width: 100%;
    } 
    .advise{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .listTitle{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .quizzes{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px
    }
    .listquizzes{
        width: 100%;
    }
    .h1{
        width: 100%;
    }
    .screen{
        width: 100%;
    }
    .tela{
        width: 100%;
    }
    .quizz{
        width: 100%;
    }
    .quizz img{
        width: 100%;
        object-fit: cover;
    }
    .listTitle{
        padding-left: 20px;
    }
    .user-empty {
        margin: 20px;
    }
 
    .user-full{
        margin: 20px;
    }
    .levelContainer{
        width: 100%
    }
    .tela-2{
        width: 100%;
    }
    .question{
        width: 100%;
    }
    .questionBox2{
        width: 100%;
    }
    .answersContainer{
        width: 100%;
        justify-content: space-between;
    }
    .answerBox{
        width: 48%;
        margin-right: 0;
    }
    .answerBox img{
        width: 100%;
        height: 113px;
        object-fit: cover;
        margin-left: 0;
        margin-top: 0;
    }
    .exibição{
        width: 100%;
    }
    .textoFinalização{
        display: block;
        margin-right: 0;

    }
    .tituloExibição{
        padding: 0 10px;
    }
    .exibição img {
        width: 100%;
        height: 273px;
        object-fit: cover;
    }
    .banner h2{
        word-break: break-word;
        margin: 10px
    }
    .questions{
        width: 100%
    }
    .tela button {
        width: 70%;
        word-break: break-word;
    }
    input {
        width: 90%;
    }
    .level-box{
        width: 100%;
    }
    .quest{
        width: 100%;
        margin: 0;
        padding: 10px
    }
    .otherQuestions{
        width: 100%;
    }
    .inserir{
        width: 100%;
    }
    .pai{
        width: 80%;
        height: 185px;
    }
    .tela-3-4 img{
        width: 100%;
        height: 185px;
    }
    .reiniciarQuizz {
        height: 150px;
    }
    .user-full{
        width: 100%;
    }
    .userTitle h3 {
        margin-left: 20px;
    }
}










@media screen and (max-width: 614px){
    .topo{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .tela{
        margin-top: 69px;
    }
}
